SECRET_KEY=your-secret-key-here
DEBUG=True


# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3


# PostgreSQL Database
PDB_ENGINE=django.db.backends.postgresql
PDB_NAME=shopcart
PDB_USER=your-postgres-username
PDB_PASSWORD=your-postgres-password
PDB_HOST=localhost
PDB_PORT=5432