SECRET_KEY=your-secret-key-here
DEBUG=True


# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3


# PostgreSQL Database
PDB_ENGINE=django.db.backends.postgresql
PDB_NAME=shopcart
PDB_USER=your-postgres-username
PDB_PASSWORD=your-postgres-password
PDB_HOST=localhost
PDB_PORT=postgres-port-number



# PostgreSQL Replica Database
RPDB_ENGINE=django.db.backends.postgresql
RPDB_NAME=shopcart_replica
RPDB_USER=your-postgres-username
RPDB_PASSWORD=your-postgres-password
RPDB_HOST=localhost
RPDB_PORT=postgres-port-number



#Redis Port
REDIS_HOST=redis_host
REDIS_PORT=port_number